html, body{
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 70px;
}

.prueba{
    color: yellow;
}

button{
    padding: 15px;
    font-size: 1.3rem;

}